%section#drink.span7
  .img-container
    = image_tag("/images/sidecar-cocktail-recipe.jpeg", :alt => "rss feed")

  %h1.drink-title= @drink.name

  .tag-container Taggar och skit

  %p.description= @drink.description

  %p.controls
    = link_to t('edit'), edit_drink_path(@drink)
    = link_to t('back'), drinks_path

%aside#recipes.span5
  .swiper-container
    .swiper-wrapper
      - @drink.recipes.each do |r|
        %article.recipe.swiper-slide
          %header
            %h1.recipe-title= r.description

          .recipe-content
            .ingredients
              %h2= t('ingredients')
              %ul
                - r.ingredients.each do |ingredient|
                  %li
                    %span.amount= ingredient.amount
                    %span.unit= ingredient.unit
                    %span.name= ingredient.item.name

            .instructions 
              %h2= t('instructions')
              = r.instruction

          %footer
            %p= t('meta')

  %footer.controls
    = link_to t('next'), drink_path(@drink, anchor: 'next'), id: 'next-receipt'
    = link_to t('previous'), drink_path(@drink, anchor: 'prev'), id: 'prev-receipt'
    